<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>ATN Corporation toy shop</title>
        <link rel="stylesheet" href="css/css.css">
    </head>

    <body>
        <h1><strong>ATN Corporation.</strong></h1>

        <div class="container">
            <div class="center">
                <a class="button-21" href="return" role="button">Return</a>
            </div>
        </div>

        <!-- (1): CREATE Task -->         
        <!-- --> 
        <div>
            <form action="/add" method="POST">   
                <input type="text" placeholder="name" name="name" style="padding: 10px 5px;"/>        
                <input type="text" placeholder="price" name="price" style="padding: 10px 5px;"/>
                <input type="number" placeholder="quantity" name="quantity" style="padding: 10px 5px;"/>
                <input type="date" placeholder="date" name="date" style="padding: 10px 5px;"/>
                <button class="normal-button" type="submit">Submit</button>
            </form>
            </div>
        <!-- -->  

    </body>
</html>